<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
     <style>
        a {
            text-decoration: none;
            color: black;
            }
        a:active {
            color: green;
            }
        .header:hover {
            text-decoration: underline;
            }
        .header {
            padding: 20px;
            }
        {% block style %}{% endblock %}
     </style>
</head>
<body>
{% block header %}
    <hr>
        <div style="float:left">
        {% if user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'main_page'%}" class="header">Главная</a>
                <a href="{% url 'admin'%}?next={{request.path}}" class="header">Админка</a>
            {% else %}
                <a href="/my_polls/" class="header">Мои опросы</a>
            {% endif %}
        {% endif %}

        </div>
            <div align="right">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout'%}" class="header">Выход</a>
                {% else %}
                    <a id="myBtn" class="header">Войти</a>
                {% endif %}
            </div>
    <hr style="margin-bottom: 0px;">
{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>