{% extends "base.html" %}


{% block title %}{{ page_title }}{% endblock %}

{% block left_link %} <a href="/admin/" class="header">Опросы</a> {% endblock %}
{% block content %}
{% load static %}
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>

.questionDiv {
  display: flex;
  justify-content: space-between;
}
.delete {
    margin-left: 100px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 26px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    display: inline;
    padding-right: 0.3em;
    margin-top: 5px;
}
.deleteOption {
    color: black;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    display: inline;
    padding-right: 0.3em;
    margin-top: 5px;
}
textarea {
                border-radius: 5px;
                margin: 0px 0px 2px;
                width: 610px;
                height: 150px;
                }
input {
border-radius: 5px 5px 5px 5px;
}
.save {

    border: 1px solid black;
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    height: 1%;
}

.save:hover {
    cursor: pointer;
}

.save:active {
   color: black;
   background-color: rgb(179, 255, 179);
}
.questionsHeader {
  background: #4080bf;
                                    margin-bottom: 0px;
                                    margin-top: 0px;
                                    padding-top: 20px;
                                    height: 40px;
                                    padding-left: 10px;
                                    color: white;
                                    font-weight: normal;
                                    text-shadow: black 0 0 5px;
}
.questionNumber {
padding-left: 10px;
margin-top: 5px;
margin-bottom: 5px;
font-weight: normal;
}
.questionData {
        overflow: hidden;
        padding: 10px;
        font-size: 13px;
        border-bottom: 1px solid #eee;
        background-color: rgba(0, 120, 201, 0.2);
}
.pollSave {
        display: flex;
        justify-content: space-between;
        background: #4080bf;
        padding-top: 5px;
        padding-right: 5px;
}
.pollData {
        background-color: rgba(0, 120, 201, 0.2);
        margin-bottom: 0px;
}
</style>
<script>
<!--Format date-->
    function formatDate(date_to_format) {
    var date=new Date(date_to_format);
    var month = date.getMonth() + 1;
    var day = date.getDate();
    var year = date.getFullYear();
    var formattedDate = day + "." + month + "." + year
    return formattedDate;
    };

    $(document).ready( function() {
    $("#id_date_of_begin").attr('value', formatDate($("#id_date_of_begin").val()));
    $("#id_date_of_end").attr('value', formatDate($("#id_date_of_end").val()));
    });
</script>
<script>
<!--Datepicker-->
    $(document).ready(function(){
    {% if not poll_form.date_of_begin.value %}
    $("#id_date_of_begin").datepicker({ dateFormat: 'dd.mm.yy' });
    {% endif %}
    $("#id_date_of_end").datepicker({ dateFormat: 'dd.mm.yy' });
    });
</script>
<script>
    function changeNumbers() {
    $("h3.questionNumber").each(function(index, obj) {
    var headertext = 'Вопрос ' + (index + 1);
    $(obj).html(headertext);
    });
    $(".questionForm").each(function(i,o) {$(o).attr('id', 'question' + (i + 1))});
    }
</script>

<script>
<!--Add question-->
    $(document).ready(function() {
    var wrapper = $(".questionsContainer");
    var add_button = $(".addFormField");

    $(add_button).click(function(e) {
    e.preventDefault();
    $(wrapper).append('<div class="questionForm"><div style="background-color:white;"> \
    <div class="questionDiv"> <h3 class="questionNumber"></h3> \
    <span class="delete">&times;</span></div></div> \
    <div class="questionData"> \
    <textarea id="question_text" name="question_text">Введите текст вопроса</textarea> \
    <p><label for="answer_type">Тип ответа</label> \
    <select name="answer_type" id="answer_type"> \
    {% for t in question_empty_form.fields.answer_type.choices %} \
    <option value="{{ t.0 }}">{{ t.1 }}</option> \
    {% endfor %} \
    </select> \
    </p><form class="answersForm" method="post"></form>\
    </div></div>'); //add input box
    changeNumbers();
    var questionData = $('.questionData').last();
    answerOptions(questionData);
    });
});
</script>
<script>
<!--Delete question-->
    $(document).on("click", ".delete", function(e) {
    e.preventDefault();
    $(this).parents('.questionForm').remove();
    changeNumbers();
    });
</script>
<script>
<!--Delete option-->
    $(document).on("click", ".deleteOption", function(e) {
    e.preventDefault();
    $(this).parents('.option').remove();
    changeOptionsNumbers();
    });
</script>
{% if not poll_form.date_of_begin.value %}
<!--Default dates-->
    <script>
        var dt = new Date();
        var dt_str = dt.toLocaleDateString();
        $(document).ready(function(){
        $('#id_date_of_begin').attr("value", dt_str);
        $('#id_date_of_end').attr("value", dt_str);
        });
    </script>
{% else %}
<!--Readonly date of begin-->
    <script>
        $(document).ready(function() {
        $("#id_date_of_begin").attr("readonly", true);
        });
    </script>
{% endif %}
<script>
    function notIsEmpty() {
    var i = true;
    $(".questionForm").each(function(index, obj) {
    if (!$(obj).find("textarea").val())
    {i = false; return false;}
    });
    return i;
}
</script>
<script>
<!--Save button-->
    $(document).on("click", ".save", function(e) {
        if ($(document).find("#id_title").val()) {
        e.preventDefault();

        if (notIsEmpty()) {
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        var questions = {};
        var title =  $(document).find("#id_title").val();
        var date_of_begin =  $(document).find("#id_date_of_begin").val();
        var date_of_end =  $(document).find("#id_date_of_end").val();
        var description =  $(document).find("#id_description").val();

        $("div.questionForm").each(function(index, obj) {

        var question_text = $(obj).find("textarea").val();
        var answer_type = $(obj).find("select").val();
        var question_info = {text: question_text, answer_type: answer_type };
        var id = $(obj).attr('id');
        questions[id]= question_info;
        } );
        {% if poll_id %}
        $.post( "/admin/{{ poll_id }}", { csrfmiddlewaretoken: CSRFtoken, poll_id: {{ poll_id }},
        title: title, date_of_begin: date_of_begin, date_of_end: date_of_end, description: description,
        questions:JSON.stringify( questions ) } );
        {% else %}
        $.post( "/admin/new_poll", { csrfmiddlewaretoken: CSRFtoken,
        title: title, date_of_begin: date_of_begin, date_of_end: date_of_end, description: description,
         questions:JSON.stringify( questions )});
        {% endif %}
        window.location.replace('/admin');
        } else {alert('Введите текст вопроса, пожалуйста.');}
        } else {alert('Введите названия опроса, пожалуйста.');
        }
});
</script>
<script>
<!--Add question button-->
    function addOptionsFields(obj) {
    var answersForm = $(obj).parents(".questionForm").find('.answersForm');
    var answerType = $(obj).parents(".questionForm").find("select").val();
    $(obj).parents(".questionForm").find(".answerOption").remove();
    var answers = $(obj).parents(".questionForm").find(".answers")
    $(answersForm).append('<div class="option"><br><input type="text">\
    <input class="answer" name="answer" value=""><span class="deleteOption">  &times;</span><br></div>');
    if (answerType == "o") {
    $(obj).parents(".questionForm").find(".answer").attr("type", "radio");
    }
    else
    {
    $(obj).parents(".questionForm").find(".answer").attr("type", "checkbox");
    }
    changeOptionsNumbers();
   };
</script>
<script>
    function answerOptions(questionData) {
    $(questionData).find('.addOptionDiv').remove();
    var answersForm = $(questionData).find('.answersForm');
    var answerType = (questionData).find("select").val();
    var first = $(questionData).parents(".questionForm").find("input[type='text']").first();
    if (answerType == "t") {
    $(answersForm).contents().remove();
    if (!first.val()) {
    $(answersForm).append('<div class="option"><label for="right_answer">Введите правильный ответ</label>\
    <input type="text" name="right_answer" class="right_answer"></div>');}
    else {
    $(answersForm).append('<div class="option"><label for="right_answer">Введите правильный ответ</label>\
    <input type="text" name="right_answer" class="right_answer" value="' + first.val() + '"></div>');}
    }

    else {

        if (!$(answersForm).find("input[type='checkbox']").length &&
        !$(answersForm).find("input[type='radio']").length )  {
        $(first).parents("div.option").append(' <input type="checkbox"><span class="deleteOption">  &times;</span><br>');}
        if (answerType == "o") {
        $(questionData).parents(".questionForm").find("input[type='checkbox']").attr("type", "radio");}

        else {
        $(questionData).parents(".questionForm").find("input[type='radio']").attr("type", "checkbox");}
        $(questionData).parents(".questionForm").find("input[type='radio']").attr("name", "answer");
    if (!$(questionData).find('.addOptionDiv').length) {
    $(questionData).append('<div class="addOptionDiv"><br><button type="button" class="addOption"\
    onclick="addOptionsFields(this)">Добавить вариант</button></div>');}
    }
    };
</script>
<script>
<!--Answer options on ready-->
    $(document).ready( function() {
    $("select").each( function(obj) {
    var questionData = $(this).parents(".questionData");
    answerOptions(questionData);
    });
    });
</script>
<script>
<!--Answer options on change-->
    $(document).on("change", "select", function(e) {
    e.preventDefault();
    var questionData = $(this).parents(".questionData");
    answerOptions(questionData);
    changeOptionsNumbers();
    });
</script>
<script>
    <!--Change options numbers-->
    function changeOptionsNumbers() {
    var i = 0;
    $(".answersForm").each( function(i, obj) {
    if ($(obj).parents(".questionData").find("select").val() != "t") {
    var options = $(this).find($("input[type='text']"));
    $(options).each(function(i, o) { i++;
    var $label = $("<label>").text('Вариант '+ i);
    $(o).prev().remove();
    $($label).insertBefore(o);
    });
    $(obj).attr("value", i);}
    });
    };
</script>
<script>
    <!--On ready-->
    $(document).ready( function() {
    changeNumbers();
    changeOptionsNumbers();
    });
</script>

<form class="pollData" method="post">{% csrf_token %}
    <table width="100%" cellspacing="0" cellpadding="4">
    {% for field in poll_form %}
        <tr>
            <td align="left" width="100">{{ field.label }}</td>
            <td>{{ field }}</td>
        </tr>
    {% endfor %}
    </table>
</form>


<div class="questionsContainer">
    <div class="pollSave">
        <h3 class="questionsHeader">ВОПРОСЫ</h3>
        <button type="submit" class="save">Сохранить</button>
    </div>
<!--    <input type="hidden" name="next" value="{{ request.path }}">-->

    {% for question in questions %}
    <div class="questionForm">
        <div style="background-color:white;">
            <div class="questionDiv"> <h3 class="questionNumber"><span></span></h3>
                <span class="delete">&times;</span>
            </div>
        </div>
        <div class="questionData">
            {{ question.question_form.text }}
            <p><label>Тип ответа</label>{{ question.question_form.answer_type }}</p>

            <form class="answersForm" method="post">
            {% if not question.question_form.answer_type.value == 't' %}

                {% for answer in question.answers %}
                 <div  class="option">
                <label></label>{{ answer.text }} {{ answer.is_right }}
                    <span class="deleteOption"> &times;</span><br>
                 </div>
                 {% endfor %}

            {% else %}
                <div  class="option"><label></label>{{ question.answers.0.text }}</div>
            {% endif %}
            </form>
        </div>
    </div>

    {% endfor %}
</div>
<button class="addFormField">Добавить вопрос &nbsp;<span>+ </span></button>
{% endblock %}