{% extends "base.html" %}


{% block title %}Опрос № {{ id }}{% endblock %}

{% block left_link %} <a href="/admin/" class="header">Опросы</a> {% endblock %}
{% block content %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>

.question_div {
  display: flex;
  justify-content: space-between;
}
.delete {
    margin-left: 100px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 26px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    display: inline;
    padding-right: 0.3em;
    margin-top: 5px;
}
textarea {
                border-radius: 5px;
                margin: 0px 0px 2px;
                width: 610px;
                height: 150px;
                }
input {
border-radius: 5px 5px 5px 5px;
}
.save {

    border: 1px solid black;
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    height: 1%;
}

.save:hover {
    cursor: pointer;
}

.save:active {
   color: black;
   background-color: rgb(179, 255, 179);
}
.questions_header {
  background: #4080bf;
                                    margin-bottom: 0px;
                                    margin-top: 0px;
                                    padding-top: 20px;
                                    height: 40px;
                                    padding-left: 10px;
                                    color: white;
                                    font-weight: normal;
                                    text-shadow: black 0 0 5px;
}
.question_number {
padding-left: 10px;
margin-top: 5px;
margin-bottom: 5px;
font-weight: normal;
}
.question_data {
        overflow: hidden;
        padding: 10px;
        font-size: 13px;
        border-bottom: 1px solid #eee;
        background-color: rgba(0, 120, 201, 0.2);
}
.poll_save {
        display: flex;
        justify-content: space-between;
        background: #4080bf;
        padding-top: 5px;
        padding-right: 5px;
}
.poll_data {
        background-color: rgba(0, 120, 201, 0.2);
        margin-bottom: 0px;
}
</style>

<script>
    $(function(){
    {% if not poll.date_of_begin %}
    $("#date_of_begin").datepicker({ dateFormat: 'dd-mm-yy' });
    {% endif %}
    $("#date_of_end").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>
<script>
    function changeNumbers() {
    $("h3.question_number").each(function(index, obj) {
    var headertext = 'Вопрос ' + (index + 1);
    $(obj).html(headertext);
    });
    $(".question_form").each(function(i,o) {$(o).attr('id', 'question' + (i + 1))});
    }
</script>
<script>
    $(document).ready(function() {
    var wrapper = $(".questions_container");
    var add_button = $(".add_form_field");

    $(add_button).click(function(e) {
    e.preventDefault();
    $(wrapper).append('<div class="question_form"><div style="background-color:white;"> \
    <div class="question_div"> <h3 class="question_number"></h3> \
    <span class="delete">&times;</span></div></div> \
    <div class="question_data"> \
    <textarea id="question_text" name="question_text">Введите текст вопроса</textarea> \
    <p><label for="answer_type">Тип ответа</label> \
    <select name="answer_type" id="answer_type"> \
    {% for type in poll.answer_types %} \
        <option>{{ type.1 }}</option> \
    {% endfor %} \
    </select> \
    </p>\
    </div></div>'); //add input box
    changeNumbers();
    });

    $(wrapper).on("click", ".delete", function(e) {
    e.preventDefault();
    $(this).parents('.question_form').remove();
    changeNumbers();
    });
});
</script>
{% if not poll.date_of_begin %}
    <script>
        var dt = new Date();
        var dt_str = dt.toLocaleDateString();
        var dt_replaced = dt_str.replace(/\./g, '-');
        $(document).ready(function(){
        $('#date_of_begin').attr("value", dt_replaced);
        $('#date_of_end').attr("value", dt_replaced);
        });
    </script>
{% endif %}
<script>
    function notIsEmpty() {
    var i = true;
    $(".question_form").each(function(index, obj) {
    if (!$(obj).find("textarea").val())
    {alert('empty'); i = false; return false;}
    });
    return i;
}
</script>
<script>
    $(document).on("click", ".save", function(e) {
        if ($(document).find("#title").val()) {
        e.preventDefault();

        if (notIsEmpty()) {
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        var questions = {};
        var title =  $(document).find("#title").val();
        var date_of_begin =  $(document).find("#date_of_begin").val();
        var date_of_end =  $(document).find("#date_of_end").val();
        var description =  $(document).find("#description").val();

        $("div.question_form").each(function(index, obj) {

        var question_text = $(obj).find("textarea").val();
        var answer_type = $(obj).find("select").val();
        var question_info = {text: question_text, answer_type: answer_type };
        var id = $(obj).attr('id');
        questions[id]= question_info;
        } );
        {% if poll.id %}
        $.post( "/admin/{{ poll.id }}", { csrfmiddlewaretoken: CSRFtoken, id: {{ poll.id }},
        title: title, date_of_begin: date_of_begin, date_of_end: date_of_end, description: description,
        questions:JSON.stringify( questions ) } );
        {% else %}
        $.post( "/admin/new_poll", { csrfmiddlewaretoken: CSRFtoken,
        title: title, date_of_begin: date_of_begin, date_of_end: date_of_end, description: description,
         questions:JSON.stringify( questions )});
        {% endif %}
        window.location.replace('/admin');
        } else {alert('Введите текст вопроса, пожалуйста.');}
        } else {alert('Введите названия опроса, пожалуйста.');
        }
});
</script>
<script>
    function addOptionsFields(obj) {
    var answerType = $(obj).parents(".question_form").find("#answer_type").val();
    $(obj).parents(".question_form").find(".answerOption").remove();
    var options = $(obj).parents(".question_form").find(".answer_options_count").val();
    for (i = 1; i <= options; i++) {
    var label = "Вариант " + i;
    $(obj).parents(".answersForm").append('<div class="answerOption" id="answerOption' + i +'">\
    <label for="option">' + label + '<input name="option"/><input class="answer" name="answer" value="' + i + '"></div>');}
    if (answerType == "Выбрать один") {
    $(obj).parents(".question_form").find(".answer").attr("type", "radio");
    }
    else
    {
    $(obj).parents(".question_form").find(".answer").attr("type", "checkbox");
    }
   };
</script>
<script>
    $(document).on("change", "#answer_type", function(e) {
    e.preventDefault();
    var questionData = $(this).parents(".question_data");
    $(questionData).find('.answersForm').remove();
    $(questionData).append('<div name="answersDiv"><form class="answersForm"></form></div>');
    var answersForm = $(questionData).find('.answersForm');
    var answerType = (questionData).find("#answer_type").val();

    if (answerType == "Текст") {
    $(answersForm).append('<div><label for="right_answer">Введите правильный ответ</label>\
    <input type="text" name="right_answer" class="right_answer"></div>');
    }

    else if (answerType == "Выбрать один") {
    $(answersForm).append('<div><label for="answer_options_count">Количество вариантов</label>\
    <input type="text" name="answer_options_count" class="answer_options_count">\
    <button type="button" onclick="addOptionsFields(this)">OK</button></div>');}

    else {
     $(answersForm).append('<div><label for="answer_options_count">Количество вариантов</label>\
    <input type="text" name="answer_options_count" class="answer_options_count">\
    <button type="button" onclick="addOptionsFields(this)">OK</button></div>');
    }
    });
</script>

<form class="poll_data">{% csrf_token %}
    <table width="100%" cellspacing="0" cellpadding="4">
    <tr>
        <td align="left" width="100"><label class="field_label" for="title">Название: </label></td>
        <td><input type="text" id="title" name="title" required value="{{ poll.title }}"/></td>
    </tr>
    <tr>
        <td align="left" width="100"><label class="field_label" for="date_of_begin">Дата начала: </label>
        {% if poll.date_of_begin %}
        <td><input type="date" id="date_of_begin" name="date_of_begin" value="{{ poll.date_of_begin }}" readonly/></td>
        {% else %}
        <td><input type="date" id="date_of_begin" required name="date_of_begin" value="{{ poll.date_of_begin }}"/></td>
        {% endif %}
    </tr>
    <tr>
        <td align="left" width="100"><label class="field_label" for="date_of_end">Дата окончания: </label></td>
        <td><input type="date" id="date_of_end" required name="date_of_end" value="{{ poll.date_of_end }}"/></td>
    </tr>
    <tr>
        <td align="left" width="100"><label class="field_label" for="description">Описание: </label></td>
        <td><textarea id="description" name="description">{{ poll.description }}</textarea></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    </table>


<div class="questions_container">

    <div class="poll_save">

    <h3 class="questions_header">ВОПРОСЫ</h3>
    <input type="hidden" id="id" name="id" value="{{ poll.id }}">



<button type="submit" class="save" style="float: right;">Сохранить</button></div>
    <input type="hidden" name="next" value="{{ request.path }}">
    {% for question in poll.questions %}
<div class="question_form"><div style="background-color:white;">
        <div class="question_div"> <h3 class="question_number">
        <span></span></h3>
        <span class="delete">&times;</span></div>
        </div>
        <div class="question_data">
    <textarea id="question_text" name="question_text">{{ question.text }}</textarea>
    <p><label for="answer_type">Тип ответа</label>
    <select name="answer_type" id="answer_type">
    {% for type in poll.answer_types %}
        {% if type.1 != question.get_answer_type_display %}
        <option>{{ type.1 }}</option>
        {% endif %}

    {% endfor %}
        <option selected="selected" >{{ question.get_answer_type_display }}</option>
    </select>
    </p>
        </div></div></div>
    {% endfor %}
<script>changeNumbers();</script>

</form>


<button class="add_form_field">Добавить вопрос &nbsp;<span>+ </span></button>
{% endblock %}