{% block login %}
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" >{% csrf_token %}
            <div class="container">
                <table>
                    <tr>
                        <td><label>Логин : </label></td>
                        <td><input type="text" name="username" autofocus="" required="" id="id_username"></td>
                    </tr>
                    <tr>
                        <td><label>Пароль : </label></td>
                        <td><input type="password" name="password" required="" id="id_password"></td>
                    </tr>
                </table>
                <p>
                    <button type="submit" style="position: relative; left: 50%; transform: translate(-50%, 0%);">
                        Войти</button>
                </p>
                {% if message %}
                    <hr>
                    <script>
                        var modal = document.getElementById("myModal");
                        modal.style.display = "block";
                    </script>
                {% endif %}
                <p style="color: red">{{ message }}</p>
             </div>
         </form>
    </div>
</div>
<script>
    <!--Show modal login form-->
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
      modal.style.display = "block";
    }
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
{% endblock %}